* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    /*height: 500px;/* Set a fixed height for the container */
    display: flex; /* Enable flexbox layout horizontally by defualt*/
    /*flex-direction: column; /* Change the direction to column */
    /*flex-direction: row; /* Change the direction to row */
    background-color: #f4f4f4f4;
    /* Always is on the main axis */
    /*justify-content: end; /* Align items to the end of the container */
    /*justify-content: center; /* Center items horizontally */
    /* justify-content: space-around; /* Distribute items evenly with space around them */
    /*justify-content: space-between; /* Distribute items evenly with space between them */
    /*justify-content: start; /* Align items to the start of the container */
    /* Always is on the cross axis */
    /*align-items: center; /* Align items vertically in the center */
    /*align-items: start; /* Align items to the start of the flex container */
    /*align-items: end; /* Align items to the end of the flex container */

    /*flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
}

.flex-item {
    /*flex-basis: 300px; /* Set the base size of the flex items similar to using width*/
    /*flex-grow: 1; /* Allow all flex-items to grow and fill available space at the same rate*/
    /*flex-shrink: 1; /* Allow all flex-items to shrink if necessary at the same rate */
    /*flex: 1 0 100px; /* Shorthand for flex-grow, flex-shrink, and flex-basis using each property at the same time.*/
    flex: 1; /* Shorthand for flex-grow, flex-shrink, and flex-basis with default values  flex*/
    height: 100px;
    background-color: #254dc4;
    margin: 10px;
    color: white;
    display: flex; /* Enable flexbox layout for the item */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.flex-item:nth-child(1) {
    /*align-self: start; /* Align this item to the start of the flex container */
    /*order: 2; /* Change the order of this item to appear second */
    /*flex-grow: 1; /* Allow this item to grow and fill available space, flex-grow default number is zero. */
    /*flex-shrink: 1; /* Allow this item to shrink if necessary */
}   

.flex-item:nth-child(2) {
    /*align-self: center; /* Align this item to the center of the flex container */ 
    /*order: 3; /* Change the order of this item to appear third */
    /*flex-basis: 200px; /* Change the base size of this item to 200px */
    /*flex-grow: 3; /* Allow this item to grow more than the first item */
    /*flex-basis: 200px; /* Set the base size of this item to 200px */
    /*flex-shrink: 2; /* Allow this item to shrink more than the first item */
}

.flex-item:nth-child(3) {
    /*align-self: end; /* Align this item to the end of the flex container */
    /*order: 1; /* Change the order of this item to appear first */
    /*flex-grow: 2; /* Allow this item to grow more than the first and second items */
    /*flex-shrink: 3; /* Allow this item to shrink the most */
    
}